.admin-message-text {
	font-style: normal;
	font-size: 22px;
	color: #004080;
}

.pagination-centered {
	text-align: center;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}